body{
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: start;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

li {
    list-style-type: none;
}    

header, footer {
    color: teal;
}

a {
    font-size: 15px;
    text-transform: uppercase;
    color: rebeccapurple;
}


/*Small Screens: smaller than first breakpoint 599px */

/*These are the properties of the parent container*/

.parent-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    grid-template-areas:
    "hd"
    "main"
    "ft";
}

/*These are the header properties*/
header {
    grid-area: "hd";
}

header a {
    color: teal;
    text-transform: none;
    text-decoration: none;
}

.header-menu {
    grid-column-start: 1;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    box-shadow: 0px 2px lightgrey;
}

a header {
    text-transform: unset;
    color: teal;
}

header nav {
    grid-row-start: 1;
    grid-row-end: 2;
}

header button {
    border: none;
    padding: 8px 25px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 1.25rem;
    background-color: teal;
}

nav ul{
    display: inline-flex;
    align-items: center;
    overflow: hidden;
}

nav li {
    padding-right: 2em;
    padding-left: 2em;
    list-style-type: none;
    text-align:center;
}



/*These are the main-content (article & section) properties*/

.child-container {
    grid-area: "main";
    gap: 20px;
    grid-template-columns: 1fr;
    grid-column-start: 1;
    grid-column-end: auto;
}    


.title {
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-content: center;
    background-color: #f8f8f8;
    color: black;
}

.blog-subtitle {
    color:darkgrey;
    text-transform: lowercase;
}


.post-current {
    display: grid;
    grid-area: "main";
    grid-template-columns: 1fr;
    grid-column-start: 1;
    grid-column-end: auto;
    text-align: start;
    row-gap: 20px;
    column-gap: 20px;
}

#post-1, #post-2, #post-3, #post-4 {
    border: 1px solid lightgray;
    padding: 30px;
    grid-column-start: 1;
    grid-column-end: auto;
}


#post-1 img, #post-2 img, #post-3 img {
    object-position: center;
    object-fit: fill;
    width: 250px;
    height: 180px;
}

#post-4 img  {
    object-position: center;
    object-fit: fill;
    width: 200px;
    height: 280px;
}


.archive {
    padding: 10px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#archived-posts {
    text-align: start;
    padding-left: 2.75em;
}

section nav li {
    text-align: start;
    position: absolute;
}

section h3 {
    color: rebeccapurple;
    text-emphasis: none;
    text-transform: uppercase;
    font-size: 1em;
}

button {
    border: none;
    padding: 15px 25px;
    font-weight: 600;
    cursor: pointer;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    margin: auto;
}


.outro {
    text-align: center;
    border-top: 50px;
    padding: 50px;
    background-color: #f8f8f8;
}

/*These are the footer properties*/
footer  {
    grid-area: "ft";
    grid-column-start: 1;
    grid-row-start: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid lightgray;
}

footer img {
    width: 10%;
    height: 10%;
}

nav ul{
    display: inline-flex;
    align-items: center;
}

nav li {
    padding-right: 2em;
    padding-left: 2em;
}

footer a {
    color: teal;
    text-transform: none;
    text-decoration: none;
}



/*Large and Medium Screens 600px - 2500px*/

@media {
    (min-width: 600px) and (max-width:2500px) 

/*These are the properties of the parent container*/


.parent-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    grid-template-areas:
    "hd"
    "main"
    "ft";
}    

/*These are the header properties*/
header {
    grid-area: "hd";
}

.header-menu {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    box-shadow: 0px 2px lightgrey;
}



/*These are the main-content (article & section) properties*/

.child-container {
    grid-area: "main";
    display: grid;
}

.title img {
    object-fit: cover;
    align-content: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-current {
    display: grid;
    grid-area: "main";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

}
   

#post-1 {
    grid-column-start: 1;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    padding: 20px;
}

#post-2 {
    grid-column-start: 2;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    padding: 20px;
}

#post-3 {
    grid-column-start: 1;
    grid-column-end: span col2-start;
    grid-row-start: auto;
    grid-row-end: auto;
    padding: 20px;
}

#post-4 {
    grid-column-start: 2;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    padding: 20px;
}

#post-1 img, #post-2 img, #post-3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;
    width: 250px;
    height: 180px;
}

#post-4 img  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-position: center;
    object-fit: fill;
    width: 200px;
    height: 280px;
}

.archive {
    display: grid;
    grid-area: "main";
    background-color: #f8f8f8;
    padding: 10px;
    position: relative;
}


section nav li {
    text-align: start;
    position: absolute;
}

section h3 {
    color: rebeccapurple;
    text-emphasis: none;
    text-transform: uppercase;
    font-size: 1em;
}

button {
    padding: 15px 25px;
    font-weight: 600;
    cursor: pointer;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    margin: auto;
}


.outro {
    text-align: center;
    border-top: 50px;
    padding: 50px;
}

}



